.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f8f9fa, #e6e8eb);
  min-height: 100vh;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #c3cfe2, #c3cfe2);
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #5dade2;
}

.navbar {
  width: 100%;
  height: 80px;
  background: linear-gradient(135deg, #3b5998, #8b9dc3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  transition: transform 0.3s ease;
}

.navbar a:hover {
  transform: scale(1.1);
  border-bottom: 2px dotted #ff6f61;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 350px;
}

.create-recipe form {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

li {
  border: 1px solid #d1d1d1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

p {
  max-width: 400px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 6em;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff6f61;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ff3b2f;
  transform: scale(1.05);
}
